<?xml version="1.0"?>
<!-- 
/**
 * @category   Excellence
 * @package    Excellence_Polling
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Excellence_Polling>
            <version>0.1.1</version>
        </Excellence_Polling>
    </modules>
    <frontend>
        <routers>
            <polling>
                <use>standard</use>
                <args>
                    <module>Excellence_Polling</module>
                    <frontName>polling</frontName>
                </args>
            </polling>
        </routers>
        <layout>
            <updates>
                <polling>
                    <file>polling.xml</file>
                </polling>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<polling>
				<use>admin</use>
				<args>
					<module>Excellence_Polling</module>
					<frontName>polling</frontName>
				</args>
			</polling>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<polling module="polling">
				<title>Polling</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="polling">
						<title>Manage Polls</title>
						<sort_order>0</sort_order>
						<action>polling/adminhtml_polling</action>
					</items>
				</children>
			</polling>
		</menu>
        <layout>
           <updates>
               <polling>
                  <file>pollingtab.xml</file>
               </polling>
           </updates>
       </layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Polling>
							<title>Polling Module</title>
							<sort_order>10</sort_order>
						</Excellence_Polling>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<polling>
					<file>polling.xml</file>
				</polling>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <polling>
                <class>Excellence_Polling_Model</class>
                <resourceModel>polling_mysql4</resourceModel>
            </polling>
            <polling_mysql4>
                <class>Excellence_Polling_Model_Mysql4</class>
                <entities>
                    <polling>
                        <table>polling</table>
                    </polling>                  
                     <answer>
                        <table>answer</table>
                    </answer>
                    <userid>
                        <table>userid</table>
                    </userid>
                    <new>
                        <table>new</table>
                    </new>
                     
                </entities>
            </polling_mysql4>
        </models>
        <resources>
            <polling_setup>
                <setup>
                    <module>Excellence_Polling</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </polling_setup>
            <polling_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </polling_write>
            <polling_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </polling_read>
        </resources>
        <blocks>
            <polling>
                <class>Excellence_Polling_Block</class>
            </polling>            
        </blocks>
        <helpers>
            <polling>
                <class>Excellence_Polling_Helper</class>
            </polling>
        </helpers>
    </global>
</config>