#paypal-container iframe {
    display: none;
}

/* Saved Accounts */
#creditcard-saved-accounts, #paypal-saved-accounts {
    font-size: 0;
    width: 100%;
}
#creditcard-saved-accounts tr, #paypal-saved-accounts tr {
    border-bottom: 1px dotted lightgrey;
}
#creditcard-saved-accounts tr td, #paypal-saved-accounts tr td {
    vertical-align: middle;
}
#payment_form_gene_braintree_creditcard label, #payment_form_gene_braintree_paypal label {
    width: 100%;
    padding: 0;
    text-align: left;
    float: none;
}
#payment_form_gene_braintree_creditcard p, #payment_form_gene_braintree_paypal p {
    padding: 0;
}
#creditcard-saved-accounts tr.other-row, #paypal-saved-accounts tr.other-row {
    border-bottom: 0;
}
#creditcard-saved-accounts label {
    float: left;
    padding: 10px 0;
    line-height: 40px;
    width: 100%;
}
#creditcard-saved-accounts tr.other-row label, #paypal-saved-accounts tr.other-row label {
    padding: 8px 0;
}
#paypal-saved-accounts label {
    padding: 6px 0;
    line-height: 40px;
}
#creditcard-saved-accounts label img, #paypal-saved-accounts label img {
    margin-left: 6px;
    height: 40px;
    float: left;
}
#creditcard-saved-accounts label .saved-card-info, #paypal-saved-accounts label .saved-paypal-email {
    margin-left: 14px;
    float: left;
}
#creditcard-saved-accounts label .saved-card-info span {
    line-height: 40px;
}
#creditcard-saved-accounts label .saved-card-info span.saved-expiry-date {
    font-size: 12px;
    font-weight: normal;
    margin-left: 14px;
}
#gene_braintree_creditcard_store_in_vault_div label, label[for="gene_braintree_paypal_store_in_vault"]  {
    width: auto!important;
}

/* Hosted Fields */
#braintree-hosted-submit {
    display: none;
}
.braintree-input-field {
    height: 42px;
    max-width: 340px;
    padding: 0 10px;
    border: 1px solid lightgrey;
    background: white;
}
.braintree-card-input-field {
    height: 50px;
    width: 100%;
    max-width: 372px;
    border: 1px solid lightgrey;
    position: relative;
    background: white;
}
.braintree-card-input-field .card-type {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px 0 8px;
}
.braintree-card-input-field .card-type img {
    height: 48px;
}
.braintree-card-input-field #card-number {
    float: left;
    height: 48px;
    width: 100%;
    padding-left: 66px;
    box-sizing: border-box;
}
#braintree-expiration-container {
    display: block;
    width: 100%;
    vertical-align: middle;
    font-size: 0;
}
.braintree-expiration {
    width: 70px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.braintree-expiration-seperator {
    vertical-align: top;
    line-height: 42px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 30px;
    padding: 0 8px;
}
.braintree-cvv {
    width: 80px;
}
.braintree-hostedfield .cvv-what-is-this {
    margin-left: 0;
}